@{
    ViewBag.Title = "Quick Receipt | Admin";
}

<ul data-role="listview" data-theme="b">
    <li>@Html.ActionLink("Profiles", "Index", "Profile")</li>
    <li>@Html.ActionLink("QR Codes", "Index", "QRCode")</li>
</ul>
