@{
    ViewBag.Title = "Quick Receipt | Home";
}

<ul data-role="listview" data-theme="b">
    <li>@Html.ActionLink("Associate PO to QR Code", "Scan", "PurchaseOrder")</li>
    <li>@Html.ActionLink("View Recent POs", "Index", "PurchaseOrder")</li>
    <li>@Html.ActionLink("Admin Page", "Index", "Admin")</li>
</ul>
